<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test verbose="2" preserve-order="true"

          name="Signup_Login/Test_Cases/SignupLoginValidationTest.java">
        <classes>
            <class name="Signup_Login.Test_Cases.SignupLoginValidationTest">
                <methods>
                    <include name="TC_01_signupValidationFlow"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>