<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="H:/Automation/CarrierGuard/src/test/java/Signup_Login/Test_Cases/SignupLoginTest.java">
        <classes>
            <class name="Signup_Login.Test_Cases.SignupLoginTest">
                <methods>
                    <include name="signupFlow"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="H:/Automation/CarrierGuard/src/test/java/Write_a_review_flow/Test_Cases/Search_MC_DOT_Test.java">
        <classes>
            <class name="Write_a_review_flow.Test_Cases.Search_MC_DOT_Test">
                <methods>
                    <include name="Search_and_Review_Flow"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>